<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course_Content</title>
</head>
<body>
<ul><h3>Python</h3></ul>
<ul><li>Basic of Python</li></ul>
<ul><li>Data types</li></ul>
<ul><li>Loops and Functions </li></ul>
<ul><li>OOPS</li></ul>
<ul><li>Libraries</li></ul>
<ul><h3>Maths</h3></ul>
<ul><li>Permutation and Combination</li></ul>
<ul><li>Probability</li></ul>
<ul><li>Statistics</li></ul>
<ul><li>Linear Regression</li></ul>
<ul><li>Linear Algebra</li></ul>
<ul><h3>Machine Learning</h3></ul>
<ul><li>Definition and Type of Machine Learning</li></ul>
<ul><li>Algorithm and Basics of Algorithm</li></ul>
<ul><li>Types of Algorithm</li></ul>
<ul><li>Models of Algorithm</li></ul>
<ul><h3>Artifical Intelligence</h3></ul>
<ul><li>AI and Definition</li></ul>
<ul><li>Use and Implementation of AI in machine learning model</li></ul>

</body>
</html>